@model Person

<div class="row partial" id="@("row-" + Model.Id)">
    <div class="col-3 col-vcenter">@Model.Name</div>
    <div class="col-3 col-vcenter">@Model.Phone</div>
    <div class="col-3 col-vcenter">@Model.City</div>
    <div class="col-3">
        <button class="btn btn-sm btn-primary m-1"
                onclick="EditListItem('@("row-" + Model.Id)','@Url.Action("Edit","People",new { id = Model.Id})')">
            Edit
        </button>
        <button class="btn btn-sm btn-primary m-1"
                onclick="DeleteListItem('@("row-" + Model.Id)','@Url.Action("Delete","People",new { id = Model.Id})')">
            Delete
        </button>
    </div>
</div>

