@model Person

<div class="row partial" id="@("row-" + Model.Id)">
    <div class="col-3">@Model.Name</div>
    <div class="col-3">@Model.Phone</div>
    <div class="col-3">@Model.City</div>
    <div class="col-3">
        <button class="btn btn-sm btn-danger"
                onclick="ConfirmDeleteListItem('@("row-" + Model.Id)','@Url.Action("ConfirmDelete","People",new { id = Model.Id})', '@Model.Id')">
            Confirm
        </button>
        <button class="btn btn-sm btn-primary"
                onclick="ConfirmCancelListItem('@("row-" + Model.Id)','@Url.Action("ConfirmCancel","People",new { id = Model.Id})', '@Model.Id')">
            Cancel
        </button>
    </div>
</div>


    @*<li id="row-@Model.Id" class="row partial">

        <div class="col-3">
            @Model.Name
            <input type="text" name="name" value="@Model.Name" style="display:none"/>
        </div>
        <div class="col-3">
            @Model.Phone
            <input type="number" min="0" name="phone" value="@Model.Phone" style="display:none" />
        </div>
        <div class="col-3">
            @Model.City
            <input type="text" name="city" value="@Model.City" style="display:none" />
        </div>
        <div class="col-3">

            <a id="Edit" class="btn btn-danger" asp-controller="People" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
            <a id="Update" class="btn btn-danger" asp-controller="People" asp-action="Update" asp-route-id="@Model.Id" style="display:none">Update</a>
            <a id="Cancel" class="btn btn-danger" asp-controller="People" asp-action="Cancel" asp-route-id="@Model.Id" style="display:none">Cancel</a>
            <a id="Delete" class="btn btn-danger" asp-controller="People" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>


            <button class="btn btn-danger"
                    onclick="ConfirmDeleteListItem('@("row-" + Model.Id)','@Url.Action("ConfirmDelete","People",new { id = Model.Id})', '@Model.Id')">
                Confirm
            </button>
            <button class="btn btn-danger"
                    onclick="CancelDeleteListItem('@("row-" + Model.Id)','@Url.Action("Update","People",new { id = Model.Id})', '@Model.Id')">
                Cancel
            </button>

        </div>

    </li>*@

