@model PersonView

@{
    ViewData["Title"] = "People List";
}

<h2>Peoples List</h2>

<div class="row input">

    <div class="col-md-8">

        <p>Add person to the peoples list</p>

        <p>
            <input id="name" type="text" name="name" value="" placeholder="Name" />
            <input id="phone" type="number" name="phone" value="" placeholder="Phone" />
            <input id="city" type="text" name="city" value="" placeholder="City" />
        </p>

        <button class="btn btn-sm btn-primary"
                onclick="CreateListItem('@Url.Action("Create", "People")')">
            Add
        </button>
        @*onclick="CreateListItem('@Url.Action("Create", "People")'),'getElementById('name').value','getElementById('phone').value','getElementById('city').value')"*@

    </div>

    <div class="col-md-4">

        <p>Filer People</p>
        <p>
            <input id="filter" type="text" name="filter" value="" placeholder="Name or City" />
        </p>
        <button class="btn btn-sm btn-primary"
                onclick="FilterListItem('@Url.Action("Filter", "People")')">
            Filter
        </button>

        @*<form asp-controller="People" asp-action="Index" method="get">
                <p>
                    <input type="text" asp-for="SearchString" placeholder="Name or City" />
                    <input class="btn btn-sm btn-primary" type="submit" value="Filter" />
                </p>
            </form>

            <form asp-controller="People" asp-action="Index" method="get">
                <input class="btn btn-sm btn-primary" type="submit" value="Reset" />
            </form>*@

    </div>
</div>

<br />

<div class="col-12">
    <div class="row">
        <div class="col-3">
            <a id="ulbo" href="#"
               onclick="SortListItem('@Url.Action("Sort","People")', 'name' )">
                Name
            </a>
        </div>
        <div class="col-3">
            <a id="ulbo" href="#"
               onclick="SortListItem('@Url.Action("Sort","People")','phone')">
                Phone
            </a>
        </div>
        <div id="ulbo" class="col-3">
            <a href="#"
               onclick="SortListItem('@Url.Action("Sort","People")','city')">
                City
            </a>
        </div>
        @*<div class="col-3">Name</div>*@
        @*<div class="col-3">Phone</div>*@
        @*<div class="col-3">City</div>*@
        <div class="col-3"></div>
    </div>
    @*@foreach (var item in Model.persons)
        {
            <partial name="_Person" model="item" />
        }*@
</div>

<br />

<div id="people">
    <partial name="_PersonList" />
</div>


