<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@
    <link href="~/vendors/css/bootstrap.min.css" rel="stylesheet" />

    <link href="~/css/site.css" rel="stylesheet" />
    @*<script src="~/vendors/js/jquery-3.3.1.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/vendors/js/bootstrap.js"></script>*@


</head>

<body>

    <header id="header" class="clearfix">
        <img height="30" src="~/images/logo.gif" alt="Logo">
        @{
            await Html.RenderPartialAsync("_Navbar");
        }
    </header>

    <div id="body">
        <div id="bodyArea">
            @RenderBody()
        </div>
    </div>

    <footer>
        <div id="footer">Copyright @DateTime.Now.ToString("yyyy") &copy; Mats</div>
    </footer>

    @*Ajax implementation*@
    <script src="~/lib/jquery/dist/jquery.js"></script>
  
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>*@
    <script src="~/vendors/js/bootstrap.js"></script>
    <script src="~/js/site.js"></script>

    @RenderSection("Scripts", required: false)


    @*<script>
                $(document).ready(function () {
            $("#Delete").on("click", function () {
                var parent = $(this).parent().parent();
                $.ajax({
                    type: "post",
                    url: "@Url.Action("Delete","People")",
                    ajaxasync: true,
                    success: function () {
                        alert("success");
                    },
                    error: function (data) {
                        alert(data.x);
                    }
                });
            });
        });

                $(".aUpdate").click(function (e) {

                    e.preventDefault();

                    var _this = $(this);

                    $.get(_this.attr("href"), function (res) {
                        $('#' + _this.data("target")).html(res);
                    });
                });

                    $("#Delete").click(function () {
                        $("#").replaceWith("Hello world!");
                    });

            </script>*@

</body>

</html>
